.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row {
  display: flex;
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #DDB892; /* light brown */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stone {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

button {
  margin-top: 20px;
}

.marker.forbidden {
  background-color: red;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  opacity: 0.5;
}
